body {
  background-color: #660f00;
  font-family: 'Arial';
  perspective: 800px;
}

.header {
  color: white;
  font-size: 30pt;
  margin: 50px 0;
  text-shadow: 1px 0  0 black;
  transform: rotateX(15deg);
}

.container {
  margin: 0 auto;
  width: 850px;
  transform: rotateX(50deg);
  perspective: 800px;
}


table td {
  text-shadow: 0 1px 0 black;
  text-align: center;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
  transform: translateZ(30px);
}

table td.red, table td.black {
    width: 36px;
    height: 36px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.rot270{
    transform: rotate(270deg) translateZ(-20px);
}

#zero {
    padding-right: 20px;
    padding-left: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-shadow: none;
}

.zb {
    vertical-align: top;
    box-shadow: none;
}

table td.red, table td.a_red {
    background: #c61313;
    background: linear-gradient(to bottom,  #c61313 0%,#840000 100%);
    height: 37px;
}

table td.black,table td.a_black {
    background: #424242;
    background: linear-gradient(to bottom,  #424242 0%,#000000 100%);
}

.le_1{
    border: 1px solid #fff;
}

table td.le {
    border: 1px solid #fff;
    border-top: none;
    width: 36px;
    height: 40px;
}

#chip {
  display: flex;
  margin-bottom: 20px;
}

.oraa {
  text-align: center;
  background-color: #660f00;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); 
  transform: rotateX(-40deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3600deg);
  }
  70% {
    transform: rotate(-1700deg);
  }
  80% {
    transform: rotate(-800deg);
  }
  90% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#ures{
  box-shadow: none;
}